button {
    padding: 10px;
    border-radius: 8px;
    border: none;
    background-color: rgb(115, 72, 243);
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 20px;
}

#reset {
    background-color: darkred;
}